@import '/node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import "/node_modules/bootstrap/scss/bootstrap.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// main home-page

.jumbotron {
    background-color: #23B5BF;

    .img-bulldog {
        width: 400px;
    }
}

.button-demo {
    background-color: #23B5BF;
}

.img-device {
    width: 400px;
}

// end main home-page

.btn-bool-pet-care {
    background-color: #23B5BF;
    color: white;
}